* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #666663;
}

.header {
    font-weight: lighter;
    margin: 20px 0 5px;
    padding: 0 22px;
}

.form-page {
    background-color: #FFF;
    font-size: 14px;
    font-weight: bolder;
    max-width: 745px;
}

.form-background {
    background-color: #FEEED5;
    padding: 0 22px 10px;
}

.form-data, .form-addition {
    padding-top: 15px;
}

.form-addition {
    font-weight: lighter;
}

.form-background .button {
    background: #388DB2;
    border: none;
    color: #FFF;
    font-weight: 600;
    margin: 10px 0 0 auto;
    padding: 8px 12px;
    cursor: pointer;
    display: block;
}

.form-background .button:hover {
    background: #32728D;
}

.text-field {
    width: 100%;
    height: 35px;
    border: none;
    margin-top: 8px;
    padding: 0 10px 0;
}

.comment {
    height: 115px;
    padding-top: 10px;
    resize: vertical;
}