* {
    box-sizing: border-box;
}

body {
    max-width: 700px;
    background-color: #FEEED5;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #6E6364;
}

.header {
    margin: 20px 20px 15px;
    font-weight: lighter;
}

.paragraph {
    text-align: justify;
    margin: 10px 20px;
}

.paragraph-name {
    color: #378DB2;
    font-weight: bolder;
}

.strikethrough-text {
    text-decoration: line-through;
}

.text {
    text-indent: 20px;
    line-height: 20px;
}