* {
    box-sizing: border-box;
}

.course-page {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #6E6364;
    background-color: #FEEED5;
    max-width: 749px;
    padding: 10px 13px 1px;
}

.header {
    font-weight: lighter;
    font-size: 28px;
    margin: 0 0 12px;
}

.name {
    color: #378DB2;
    font-weight: bolder;
}

.paragraphs p, .description p {
    margin: 0 0 10px;
}

.strikethrough-text {
    text-decoration: line-through;
}

.description {
    font-size: 15px;
    text-align: justify;
    text-indent: 18px;
    line-height: 22px;
}

.paragraphs :last-child {
    margin-bottom: 8px;
}