* {
    box-sizing: border-box;
}

.phone-book-page {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

.phone-book-page .add-contact .contact-data > label > .data-description {
    display: inline-block;
    width: 150px;
}

.phone-book-page .contact-data {
    margin-bottom: 10px;
}

.phone-book-page .text-field {
    width: 300px;
}

.phone-book-page .add-button-container {
    margin-bottom: 20px;
}

.phone-book-page .button {
    background-color: #4F81BD;
    color: #FFF;
    border: none;
    padding: 3px 15px;
    margin-bottom: 5px;
}

.phone-book-page .button:enabled:hover {
    cursor: pointer;
    background-color: #5A95D1;
}

.phone-book-page .button:disabled {
    background-color: #808080;
}

.phone-book-page .contacts-table {
    vertical-align: top;
    display: inline-block;
}

.phone-book-page .table-header th {
    background-color: #4F81BD;
    color: #FFF;
    text-align: center;
    padding: 5px 10px;
}

.phone-book-page .center-position {
    padding: 5px 0;
}

.phone-book-page .id,
.phone-book-page .buttons {
    width: 50px;
}

.phone-book-page .checkbox {
    width: 30px;
}

.phone-book-page .contact-surname,
.phone-book-page .contact-phone-number {
    width: 300px;
    text-align: left;
    padding: 5px;
}

.phone-book-page .contact-name {
    width: 200px;
    text-align: left;
    padding: 5px;
}

.phone-book-page .edit-surname,
.phone-book-page .edit-phone-number,
.phone-book-page .edit-name {
    padding: 3px;
}

.phone-book-page .table-body tr {
    background-color: #D0D8E8;
}

.phone-book-page .table-body td {
    vertical-align: top;
}

.phone-book-page .error-message,
.phone-book-page .existence-error {
    display: none;
    color: #F00;
}

.phone-book-page .error-message.edit-form,
.phone-book-page .existence-error.edit-form {
    margin-left: 0;
    text-align: left;
}

.phone-book-page .invalid ~ .error-message,
.phone-book-page .existence-invalid ~ .existence-error {
    display: block;
}

.phone-book-page .invalid,
.phone-book-page .existence-invalid {
    border-color: #F00;
}

.phone-book-page .existence-error {
    margin-left: 170px;
}

.phone-book-page .image-button {
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

.ui-widget-overlay {
    opacity: 0.7;
}

.phone-book-page .not-filtered {
    display: none;
}

.phone-book-page .filter-container {
    margin-bottom: 5px;
    vertical-align: top;
}

.phone-book-page .filter-container .filter-buttons,
.phone-book-page .filter-container .filter-text-field {
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
}

.phone-book-page .delete-all-button,
.phone-book-page .filter-container {
    display: inline-block;
}

.phone-book-page .delete-all-button {
    margin: 5px;
}