* {
    box-sizing: border-box;
}

.table {
    max-width: 1075px;
    text-align: justify;
    font-size: 23px;
    font-family: "Calibri Regular", sans-serif;
    border-collapse: collapse;
}

.table th {
    padding: 13px 10px;
    background-color: #3598DB;
    color: #ECFAFF;
    font-weight: 500;
    border: 1px solid #D6D6D6;
}

.first-name, .last-name {
    width: 175px;
}

.job-title {
    width: 310px;
}

.twitter {
    width: 200px;
}

.table td {
    padding: 12px 10px;
    border: 1px solid #D6D6D6;
}

.table tr:nth-child(odd) {
    background-color: #EAEAEA;
}