* {
    box-sizing: border-box;
}

.temperature-conversion-page {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 17px;
    font-family: Arial, sans-serif;
    border: 1px solid;
}

.temperature-conversion-body div {
    margin: 15px 0;
}

.conversion-button {
    background-color: #388495;
    color: #FFFFFF;
    border: none;
    padding: 3px 15px;
}

.submit:hover {
    cursor: pointer;
    background-color: #45B3B7;
}

label > span {
    display: inline-block;
    width: 300px;
}

.error-message {
    color: #ff0000;
    display: none;
    margin-top: 5px;
    margin-left: auto;
}

.invalid {
    border-color: #ff0000;
}

.invalid + .error-message {
    display: block;
}