* {
    box-sizing: border-box;
}

.temperature-conversion-page {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 17px;
    font-family: Arial, sans-serif;
    border: 1px solid;
}

.temperature-conversion-body .temperature-section {
    margin: 15px 0;
}

.conversion-button {
    background-color: #388495;
    color: #FFF;
    border: none;
    padding: 3px 15px;
}

.conversion-button:enabled:hover {
    cursor: pointer;
    background-color: #45B3B7;
}

.conversion-button:disabled {
    background-color: #808080;
}

.scale > .name {
    display: inline-block;
    width: 300px;
}

.text-field {
    width: 150px;
}

.error-message {
    color: #F00;
    display: none;
    margin-top: 5px;
    margin-left: 55%;
    width: 250px;
}

.invalid {
    border-color: #F00;
}

.invalid + .error-message {
    display: block;
}