.todo-list-page .add-todo-form > * {
    display: inline-block;
    vertical-align: top;
}

.todo-list-page {
    margin: 5px auto;
    padding: 0 5px;
    max-width: 700px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.todo-list-page .header,
.todo-list-page .add-todo-form {
    text-align: center;
}

.todo-list-page .error-message {
    color: #F00;
    display: none;
    text-align: left;
}

.todo-list-page .invalid ~ .error-message {
    display: block;
}

.todo-list-page .invalid {
    border-color: #F00;
}

.todo-list-page .todo-list {
    list-style-type: none;
    padding-left: 0;
}

.todo-list-page .button {
    cursor: pointer;
    background-color: #6C747B;
    color: #FFF;
    border: none;
    padding: 3px 15px;
    margin-left: 5px;
}

.todo-list-page .buttons {
    float: right;
}

.todo-list-page .button:hover {
    background-color: #343A3F;
}

.todo-list-page .todo-item {
    max-width: 650px;
    margin: 10px 45px 0;
}

.todo-list-page .new-todo-text-field {
    width: 480px;
}

.todo-list-page .edit-text-field {
    width: 350px;
}